<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Claims Data Charting App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body ng-controller="myController">
  <div ng-show="dataLoaded===false" ng-hide="dataLoaded===true">
        Loading.....
  </div>
  <div ng-if='dataLoaded'>
    <bar-graph  ng-if="pressedTab('bar')"></bar-graph>
    <line-graph ng-if="pressedTab('line')"></line-graph>
  </div>

<script src="app.js"></script>
</body>
</html>