<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Claims Data Charting App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
  <link rel="stylesheet" type="text/css" media="screen" href="./fusioncharts/assets/css/style.css" />
</head>
<body ng-controller="myController">
    <header>
        <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav navbar-nav navbar-left nav-tabs">
            <li class="nav-item" ng-class="{active:pressedTab('line')}">
              <a href="#" class="nav-link active" ng-click="setNewTab('line')">Line Graph</a>
            </li>
            <li class="nav-item" ng-class="{active:pressedTab('bar')}">
              <a href="#/second" class="nav-link active" ng-click="setNewTab('bar')"> Bar Graph</a>
            </li>
          </ul>
        </div>
        </nav>
      </header>
  <div ng-show="dataLoaded===false" ng-hide="dataLoaded===true">
        Loading.....
  </div>
  <div ng-if='dataLoaded'>
    <bar-graph  ng-if="pressedTab('bar')"></bar-graph>
    <line-graph ng-if="pressedTab('line')"></line-graph>
  </div>
  <script src='./fusioncharts/js/fusioncharts.js'></script>
  <script src='./fusioncharts/js/fusioncharts.charts.js'></script>
  <script src='./fusioncharts/js/themes/fusioncharts.theme.fint.js'></script>
  <script src="https://code.angularjs.org/1.4.1/angular.min.js"></script>
  <script src='./fusioncharts/js/angular-fusioncharts.min.js'></script>
  <script src="app.js"></script>
</body>
</html>