
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x- ng-cloak {
  display: none !important;
}
/* nav container */
.container{
  background: #5578ff;
  width:100%;
  max-width: 100%!important;
  max-height: 100%;
}
/* save button */
.btn-primary{
  padding:8px !important;
}
.nav>li>a:hover, .nav>li:hover{
  border:none;
  background:rgba(169, 196, 238, 0.753);
  color:black;
}
.nav-tabs,.nav-tabs>li>a{
  border:none;
  margin-right:1px;
}
.graph-box{
  height: 600px
}
.main-container{
  width:70%;
  height: 100vh;
  text-align: center;
  margin:0 auto;
}
.load-text:hover{
  cursor:wait;
}

/* loader from loader.io */
.lds-dual-ring {
  display: inline-block;
  width: 46px;
  height: 46px;
  position: absolute;
  bottom:-12px;
}
.loader-box{
  position: relative;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 26px;
  height: 26px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media(max-width:800px){
  .graph-box{
    height: 500px;
  }
}
@media(max-width:400px){
  .graph-box{
    height: 400px;
  }
}